* {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.1rem;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  background-color: #f04037;
  width: 100%;
  height: 3rem;
  position: fixed;
  z-index: 1;
}

.nav-title {
  position: absolute;
  top: 14px;
  color: white;
  font-size: larger;
}

.nav-search {
  position: absolute;
  top: 14px;
  right: 40vw;
  color: #fbd2d0;
  font-size: 15px;
  cursor: pointer;
}

.nav-party {
  position: absolute;
  top: 13px;
  right: 25vw;
  color: #fbd2d0;
  font-size: 15px;
  cursor: pointer;
}

.nav-party :hover {
  cursor: pointer;
}

.nav-search :hover {
  cursor: pointer;
}

.search-icon {
  margin-left: 5px;
  color: #6c757d;
}

.search-title {
  margin-top: 6rem;
}

.search-align,
.search-title-align {
  display: flex;
  justify-content: center;
}

input {
  padding: 6px 10px 6px 9px;
  border-radius: 5px;
  border: 1px solid #6c757d;
}

.search-add-member {
  background-color: #fbd2d0;
  height: 400px;
  width: 300px;
  margin: 5rem auto;
  border-radius: 20px;
}

.search-img {
  height: 250px;
  width: 250px;
}

.image-align {
  text-align: center;
}

.image-title {
  text-transform: capitalize;
  margin-top: 2rem;
}

.add-image-icon {
  color: white;
  background-color: #f04037;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  padding: 2.3px 0 2px 2.5px;
  position: relative;
  right: -250px;
  top: -287px;
}

.add-image-icon:hover {
  cursor: pointer;
}

.party-title {
  margin-top: 5rem;
}

.party-tab {
  text-align: center;
}

.party-none {
  margin-top: 2rem;
}

.pokemon-group {
  background-color: #fbd2d0;
  outline: 2px solid green;
  width: 100%;
  height: 100%;
}

.abilities {
  text-align: left;
  text-transform: capitalize;
  outline: 2px solid green;
}

.ability-title {
  text-align: left;
  font-weight: bold;
}

.type-title {
  text-align: left;
  font-weight: bold;
}

.types {
  text-align: left;
  text-transform: capitalize;
}

.moves {
  outline: 2px solid green;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
}

.move-title {
  width: 400px;
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
  outline: 2px solid green;
  position: absolute;
}

.level-numbers {
  outline: 2px solid green;
  position: absolute;
  width: 2px;
  bottom: 0;
}

.level-title {
  float: left inline-start;
  font-weight: bold;
  outline: 2px solid green;
  width: 400px;
  text-align: left;
  position: absolute;
}
